<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>in.l1v.heartbeat.heartbeat-client</string>
    <key>ProgramArguments</key>
    <array>
	    <string>/Users/sourtaste000/.local/bin/heartbeat-client-macOS.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>60</integer>
</dict>
</plist>
