[Unit]
Description=Runs the heartbeat ping script
Wants=heartbeat-client.timer

[Service]
Type=oneshot
ExecStart=%h/.local/bin/heartbeat-client-unix.sh

[Install]
WantedBy=multi-user.target 
